@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/lib/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/blog.js" referrerpolicy="origin"></script>

    <script type="text/javascript">
        tinymce.init({
            selector: '#mytextarea',
            menubar: ' edit view insert format tools table',
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist  | forecolor backcolor removeformat | emoticons | fullscreen  | image media  link | code',
            plugins: 'code importcss  searchreplace autolink   visualblocks visualchars fullscreen image link media   codesample table charmap  nonbreaking anchor  insertdatetime advlist lists  wordcount   charmap   quickbars  emoticons',
            contextmenu: "link image imagetools table",
            image_advtab: true,
            toolbar_sticky: true,
            images_upload_url: '/Blog/Upload',
            paste_data_images: true,
            images_reuse_filename: true,
        });


    </script>
</head>
<body>

    <!--
      Adding the `tinymce-editor` element with various options set as attributes.
    -->

    <div class="main-wrapper">

        <article class="blog-post px-3 py-5 p-md-5">
            <div class="container single-col-max-width">



                <div class="rCol">
                    <div id="prv" style="height:auto; width:auto; float:left; margin-bottom: 28px; margin-left: 200px;"></div>
                </div>
                <div class="rCol" style="clear:both;">

                    <label> Upload Photo : </label>
                    <input type="file" id="file" name='file' onChange=" return submitForm();">
                </div>
                <input type="hidden" id="filecount" value='0'>
                <form method="post" asp-asp-controller="Blog" asp-action="AddPost">
                    <span>Title</span>
                    <input class="w-100 mb-2" type="text" name="Title" />
                    <span>Summary</span>
                    <input class="w-100 mb-2  py-5" type="text" name="Summary" />

                    <textarea name="Content" id="mytextarea">Hello, World!</textarea>
                    <input type="submit" value="ADD" />
                </form>



                <nav class="blog-nav nav nav-justified my-5">
                    <a class="nav-link-prev nav-item nav-link rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                    <a class="nav-link-next nav-item nav-link rounded-right" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
                </nav>

                <div class="blog-comments-section">
                    <div id="disqus_thread"></div>
                    <script>

                    </script>
                    <noscript>
                        Please enable JavaScript to view the
                        <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                            comments powered by Disqus.
                        </a>
                    </noscript>
                </div><!--//blog-comments-section-->

            </div><!--//container-->
        </article>





    </div>


    <!--
      Sourcing the `tinymce-webcomponent` from jsDelivr,
      which sources TinyMCE from the Tiny Cloud.
    -->


</body>
</html>